.App {
  text-align: center;
}

body{
  background-color: grey;
  color: white;
}

h2{
  padding: 20px
}

.answer{
  color: red;
}

.question{
  color: lightblue
}

.question:hover{
  color: lightcyan;
}

.decrease{

}

.increase{
  
}